.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.logo-content > img{
    border: 0px solid #42515F;
    margin: 6px;
}
.heading{
    display: flex;
    flex-direction: column;
}
.emp-text{
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: uppercase;
    font: normal normal bold 20px/25px Montserrat;
}
.emp-payroll{
    letter-spacing: 0px;
    color: #42515f;
    text-transform: uppercase;
    font: normal normal bold 20px/25px Montserrat;
}
*{box-sizing: border-box;}
.header{
    width: 64%;
    height: 568px;
    margin-top: 23px;
    margin-left: 181px;
    border: 2.5px solid rgb(243 233 233);
    overflow: hidden;
    padding-left: 66px;
}
.heading{
    display: flex;
    flex-direction: column;
}
.emp-text{
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: uppercase;
    font: normal normal bold 20px/25px Montserrat;
}
.emp-payroll{
    letter-spacing: 0px;
    color: #42515f;
    text-transform: uppercase;
    font: normal normal bold 20px/25px Montserrat;
}
.form-content{
    background-color: #d3c5c557;
    display: flex;
    justify-content: center;
    min-height: calc(100% - 80px);
}
form{
    width: 100%;
    padding: 44px 60px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
}
.form-head{
    font:normal normal bold 24px/37px Roboto;
    color: #42515f;
    text-transform: capitalize;
    letter-spacing: 0px;
    padding-bottom: 20px;
}
.row-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.label{
    min-width: 140px;
    padding:12px 12px 12px 0;
    display: inline-block;
    color: #42515f;
    font-family: normal normal normal 18px/24px Roboto;
}

.input{
    width: 100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.profile-content{
    display: flex;
    flex-direction: row;
}
.profile-content > label{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile{
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.text{
    font-size: 16px;
    color: #42515f;
    font: normal normal normal 16px/24px Roboto;
}
.checkbox{
    border-radius: 1px;
    margin-right: 10px;
}
.department-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.department-content>label{
    margin-right: 5px;
}
output{
    margin-left: 15px;
}
select{
    padding:9px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    margin-right: 15px;
}

.button-div{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    margin-top: 20px;
}
.button{
    font-size: 20px;
    color: #42515f;
    font-weight: normal;
    font-family:'Roboto';
    background: #e2e2e2;
    border: none;
    min-width: 140px;
    padding:7px 7px;
    border: 1px solid #969696;
    border-radius: 5px;
    cursor: pointer;
}
/* Hover to change color when mouse placed over the button */
.button:hover{
    background-color: #82a70c;
    color: #ffffff;
}
.submitButton{
    margin-right: 30px;
}
.cancelButton{
    text-decoration: none;
    text-align: center;
}
.mat-form-field {
    padding: 0rem;
    width: 94%;
}
/* Media Queries */
@media only screen and (max-width:970px) {
    .department-content{
        flex-flow: wrap;
    }
    .row-content{
        margin:20px;
    }
    .submitButton{margin: 0;}
    .submit-reset{
        width: 100%;
        display: flex;
        flex-grow: 1;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .button-div{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .cancelButton{
        margin-left: 0px;

    }
    select{
        margin-top: 5px;
    }
}
@media only screen and (max-width:860px){
    .profile-content{
        flex-flow: wrap;
    }
    select{
        margin-top: 10px;
    }
}
@media only screen and (max-width:681px) {
    .row-content{
        margin-left: 0px;
    }
    .form-content{
        margin: 0px;
    }
    .gender-content{
        width: 10%;
        display: flex;
        flex-flow: wrap;
    }
    .gender-content>div{
            display: flex;
    }
    .department-content>div{
        display: flex;
    }
    form{
        width: 80%;
    }
    .submit-reset{
        display: flex;
        justify-content: center;
        margin-left: 10px;
    }
    .submitButton{
        margin-left: 5px;
    }
    .button-div>a{
        align-items: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}
@media only screen and (max-width:500px) {
    .form-content{
        margin: 0px;
    }
    form{
        width: 85%;
        padding: 10px;
    }
    .gender-content{
        width: 10%;
        display: flex;
        flex-flow: wrap;
    }
    .gender-content>div{
            display: flex;
    }
    .department-content>div{
        display: flex;
    }
    .submit-reset{
        display: flex;
        justify-content: center;
        margin-left: 0px;
    }
    .submitButton{
        margin-left: 5px;
    }
    
}

@media only screen and (max-width:320px) {
    form{
        width: 98%;
    }
    .submit-reset>button{
        min-width: 100px;
    }
    
}